<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- THIS IS OUR CUSTOM CONTEXT LISTENER -->
    <!--<contextListener class="com.tencent.tw.listener.LoggerStartupListener"/>-->

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d [%t] %5p %C{20} - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${WORK_DIR}/logs/inf.log</File>
        <encoder>
            <pattern>%d [%t] %5p %C{20} - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${WORK_DIR}/logs/inf-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${WORK_DIR}/logs/err.log</File>
        <encoder>
            <pattern>%d [%t] %5p %C{20} - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${WORK_DIR}/logs/err-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="org.lyh.dblog" level="error" addtivity="false">
        <appender-ref ref="error"/>
    </logger>

    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="info"/>
    </root>
</configuration>